* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

body {
    font-family: 'Syne', sans-serif;
    background-color: #1D1D1D;
    color: #fff;
    font-weight: 700;
}

.container {
    max-width: 1440px;
    padding: 0 90px;
    margin: 0 auto;
}

.header {
    margin-bottom: 80px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 48px 90px;
}

.logo {
    font-size: 24px;
}

.nav {
    flex-basis: 780px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    gap: 20px;
}

.wrapper {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    border-radius: 40px;
    padding: 40px;
    background-color: #252525;
}

.offer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer::before {
    content: 'Nice to meet you :)';
    position: absolute;
    top: 60px;
    right: 40px;
    font-family: Crafty Girls;
    color: #F5544F;
    font-size: 20px;
    line-height: 132%;
    transform: rotate(-16.595deg);
}

.chip {
    width: 236px;
    height: 82px;
    padding: 24px 40px;
    border-radius: 100px;
    background: #1CB476;
}

.text-main {
    font-size: 28px;
}

.heading-1 {
    font-size: 80px;
}

.heading-3 {
    font-size: 40px;
}

.photo-container {
    border-radius: 40px;
    overflow: hidden;
    line-height: 0;
}

